{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .enquiry-card {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 8px yellowgreen;
    background-color: #1A1A1D;
    border: 0px solid yellowgreen;
  }

  .enquiry-card h3 {
    color: black;
  }

  .form-label {
    font-weight: bold;
  }

  .btn {
    display: block;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: yellowgreen;
    border: none;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: yellowgreen;
    color: black;
  }
</style>

<div class="container">
  <div class="row">
    <div class="enquiry-form">
      <center>
        <form method="POST" id="enquiry-form">
          {% csrf_token %}
          <div class="enquiry-card">
            <h3 class="mt-4" style="color:white;">ENQUIRE NOW</h3>
            <div class="mb-3">
              <label class="form-label required-label">Name</label>
              <input type="text" class="form-control" name="n" placeholder="Enter your Name" required>
            </div>
            <div class="mb-3">
              <label class="form-label required-label">City of Residence</label>
              <input type="text" class="form-control" name="p" placeholder="Enter your City" required>
            </div>
            <div class="mb-3">
              <label class="form-label required-label">E-mail</label>
              <input type="email" class="form-control" name="e" id="e" placeholder="Enter your Email" 
              value="{% if user.is_authenticated %}{{ user.email }}{% endif %}" required>
            </div>
            <div class="mb-3">
              <label class="form-label required-label">Date of Travel</label>
              <input type="date" class="form-control" name="d" required>
            </div>
            <div class="mb-3">
              <label for="contactNumber" class="form-label required-label">Contact Number</label>
              <input type="text" id="contactNumber" class="form-control" name="c" placeholder="number" required pattern="\d{10}" title="Please enter a 10-digit phone number">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn" style="margin-bottom: 25px;">Submit</button>
            </div>
          </div>
        </form>
      </center>
    </div>
  </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#enquiry-form').on('submit', function(event) {
      event.preventDefault(); 
      $.ajax({
        type: 'POST',
        url: '{% url "enquiry" %}',  
        data: $(this).serialize(), 
        success: function(response) {
          swal({
            title: "Success!",
            text: response.message,
            icon: "success",
            button: "Okay",
          });
          $('#enquiry-form')[0].reset(); 
        },
        error: function(xhr) {
          // Handle error case 
          swal({
            title: "Error!",
            text: "There was a problem submitting your enquiry.",
            icon: "error",
            button: "Okay",
          });
        }
      });
    });
  });
</script>

{% endblock %}
