{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .card {
    display: inline-block;
    margin-top: 50px;
    margin-left: 100px;
    width: 250px;
    border: 0;
    background-color: transparent;
    box-shadow: 0 0px 8px yellowgreen;
    transition: transform 0.5s ease-in-out;
  }
  .btn:hover {
    background-color: rgb(0, 0, 0);
    color: yellowgreen;
  }
  .carousel-item {
    transition: opacity 0.5s ease-in-out;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .carousel-caption h5 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  .carousel-caption p {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  }

</style>

<!-- CAROUSEL -->
<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'images/carousel-1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>MUNNAR</h5>
                <p>
                    Virgin forests, savannah, rolling hills, scenic valleys, numerous streams,<br>
                    huge splashy waterfalls, sprawling tea plantations and winding walkways.
                </p>
                <a href="https://en.wikipedia.org/wiki/Munnar" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'images/carousel-2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>GOA</h5>
                <p>Goa, located on the western coast of India,<br>
                    is the smallest state by area and the fourth smallest by population.
                </p>
                <a href="https://en.wikipedia.org/wiki/Goa" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>

<h4 style="color:white; margin-top:40px; text-align:center;">Our Packagers</h4>

<!-- PACKAGERS -->
{% for packager in packagers %}
<div class="card">
    <img src="{{ packager.image.url }}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title" style="height:70px;">{{ packager.name }}</h5>
        <a href="{% url 'packages' packager.name %}" class="btn" style="width:100%;">{{ packager.name }}</a>
    </div>
</div>
{% endfor %}

{% endblock %}
