{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .form-control {
    width: 70%;
  }

  .login-container {
    padding: 20px;
  }

  .login-card {
    background-color: #1A1A1D;
    width: 40%;
    box-shadow: 0 0px 8px white;
    color: white;
    border-radius: 15px;
    border: 2px solid white;
  }

  .input-group {
    width: 70%;
    position: relative;
    margin-bottom: 1rem;
  }

</style>

<div class="container login-container" style="margin-bottom: 100px;">
  <center>
    <form method="POST">
      {% csrf_token %}
      <div class="login-card">
        <h3 class="mt-4">Login</h3>
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
        <div class="mb-4">
          <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
            <input type="text" class="form-control" name="u" placeholder="Enter username" autocomplete="off">
          </div>
        </div>
        <div class="mb-4">
          <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
            <input type="password" class="form-control" name="p" placeholder="Enter password" autocomplete="off">
          </div>
        </div>
        <div class="mb-4">
          <span>new user? </span>
          <a href="{% url 'signup' %}">signup</a>
        </div>

        <input type="submit" class="form-control" style="margin-bottom: 25px;" value="Login">
      </div>
    </form>
  </center>
</div>




{% endblock %}
