
{% extends 'base.html' %}
{% block content %}

<style>
  .container {
    padding: 20px;
  }

  .form-label {
    width: 50%;
    margin-bottom: 10px;
  }

  .form-button {
    width: 50%; 
    margin-bottom: 25px;
  }

  .input-group{
    width: 50%; 
    margin-bottom: 25px;
  }

</style>

<center>
<div class="container">
  <h3>Set New Password</h3>
  <form method="POST">
    {% csrf_token %}

    <div class="form-label">
      <label for="password">New Password:</label>
        </div>

    <div class="mb-4">
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        <input type="password" class="form-control" id="password" name="password" required>
        <input type="hidden" name="email" value="{{ email }}">
      </div>
      </div>
    </div>
    <div class="form-button">
      <button type="submit" class="form-control">Reset Password</button>
    </div>
  </form>
</div>
</center>

{% endblock %}

